<div class="row">
  <div class="col-md-4">
    <h2><%= @user.name %></h2>
    <% if @user.avatar.present? %>
      <%= image_tag(@user.avatar.variant(resize_to_fill: [150, 150]), class: "rounded-circle") %>
    <% else %>
      <img alt="image" class="rounded-circle" src="/assets/default_avatar_small.jpg">
    <% end %>
    <h5><%= @user.status %></h5>
    <h6><%= @user.description %></h6>
    <p>Created at: <%= @user.created_at.strftime('%F %T') %></p>
  </div>
  <div class="col-md-8">
    <h2>Posts:</h2>
    <% if params[:id].blank? %>
      <%= render "posts/form", post: @post %>
    <% end %>
    <% @posts.each do |post| %>
    <hr>
      <p><%= post.created_at.strftime('%F %T') %></p>
      <h5><%= post.body %></h5>
      <div id="comments">
        <% post.comments.each do |comment| %>
          <%= render comment %>
        <% end %>
        <%= render "/comments/form", comment: @comment, post: post %>
      </div>
    <% end %>
  </div>
</div>